.main{
	padding-top: 10px;
}
.course-body{
	height: calc(90vh - 45px - 20px);
	padding-left: 3%;
	padding-right: 5%;
	overflow: scroll;
	background-color: #F6F7F8;
	box-shadow: 0 2px 3px 0px #BFBFBF;
	border-radius: 3px;
	padding-bottom: 10px;
}
.course-card{
	height: 60px;
	width: 100%;
	margin-top: 10px;
	box-shadow: 0 1px 3px 0px #BFBFBF;
	word-wrap: break-word;
	padding-top: 5px;
	padding-left: 8px;
	border-radius: 3px;
	background-color: #fffffe;
}
.course-card:hover{
	cursor:pointer;
	background-color: #f7f7f7;
}
.course-id{
	color:#ff6d00;
	margin: 0px;
}
.course-name{
	display: block;
}
.detail-body{
	height: calc(90vh - 45px - 20px);
	background-color: #F6F7F8;
	box-shadow: 0 2px 3px 0px #BFBFBF;
	border-radius: 3px;
	padding-left: 3%;
	padding-right: 5%;
	overflow: scroll;
}
.head{
	height: 45px;
	background-color: #FF5A1D;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 5px 10px 5px 10px;
	box-shadow: 0 1px 3px 0px #BFBFBF;

}
.term{
	height: 35px;
	width: 80px;
	background-color:#f7c396;
	/*color: white;*/
}
.search{
	width: 100%;
}

