<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Classroom</title>
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/classroom.css">
	<link rel="stylesheet" type="text/css" href="css/public-components.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
	<script type="text/javascript" src="js/public.js"></script>
	<script type="text/javascript" src="js/classroom.js"></script>
</head>
<body>

	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper container">
				<a href="#" class="brand">SuanPalm</a>
				<ul class="right hide-on-small-only">
					<li><a href="sass.html">News</a></li>
					<li><a href="badges.html">Clubs</a></li>
					<li class="active"><a href="collapsible.html">Classroom</a></li>
					<!-- Login แล้ว -->
					<!-- <li><a href="login.html"><i class="fa fa-user fa-lg"></i> Sign in</a></li> -->
					<!-- ยังไม่ Login -->
					<li><a href="profile.html" class="profile">
						<img src="images/orange2.jpg" width="30" height="30">
						<span class="name">Udomsub</span>
					</a></li> 
					<li><a href="login.html"><i class="fa fa-sign-out fa-lg"></i>Logout</a></li> 
				</ul>

				<!-- Hamburger menu -->
				<ul class="right hide-on-med-and-up">
					<li><a class="sideNav" data-activates="mobile-demo"><i class="fa fa-bars fa-lg"></i></a></li>
				</ul>
		    </div>
	 	</nav>
 	</div>
	<ul class="side-nav" id="mobile-demo">
		<!-- Login แล้ว -->
		<li><a href="login.html"><i class="fa fa-user fa-lg"></i>Sign in</a></li> 
		<!-- ยังไม่ Login -->
		<li><a href="profile.html" style="display: flex;">
			<img src="images/orange2.jpg" width="30" height="30" style="margin-top: 7px;">
			<span class="name">Udomsub Naikorn</span>
		</a></li> 

        <li><a href="sass.html">News</a></li>
		<li><a href="badges.html">Clubs</a></li>
		<li class="active"><a href="collapsible.html">Classroom</a></li>
		<li><a href="login.html"><i class="fa fa-sign-out fa-lg"></i>Logout</a></li> 
    </ul>

          
	<div class="container main">
		<div class="row">
			<div class="col s12 m5 l5" class="left">
				<div class="course">
					<div class="head">
								<select class="browser-default term">
								    <option value="1">1/2559</option>
								    <option value="2">2/2559</option>
								</select>
					</div>
					<div class="course-body">
						<div class="course-card">
							<span class="course-id">
								ACT1600
							</span>
							<span class="course-name">
								FUNDAMENTALS OF FINANCIAL ACCOUNTING
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col m7 l7 hide-on-small-only" class="right">
				<div class="details">
					<div class="head">
     					 Detail & Comments
					</div>
					<div class="detail-body">		
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>